# $HeadURL$
Versions
{

  NextRelease
  {
    # CHANGE: used the native platform for TestApplications instead of the CS definition
    SAMSystem = sa_2010031101

  }
  
  v5r1-pre5
  {

    # NEW: Method which returns back the processed events for a given production.
    # NEW: Method which returns all the available condition tags
    # BUGFIX: Cleaning the files from  File dialog window when the user click the close ot X button.
    # CHANGE: Changed the getFilesWithGivenDataSets method I added NbOfEvents flag to return back the number of events for a given dataset.
    # BUGFIX: When you want to save the files in the File dialog window, the I just save the selected files.
    # BUGFIX: I am not exist when the tags exist in the DB.
    BookkeepingSystem = bk_2010031001

    # CHANGE: CE2CSAgent moved to DIRAC package
    ConfigurationSystem = cs_2010030501

    # CHANGE: updated dirac-architecture
    # NEW: Introduced support for protocol access tests
    # NEW: DiracLHCb - added methods to retrieve software versions for ROOT and applications
    Core = co_2010031101

    # BUGFIX: Several
    DataManagementSystem = dm_2010031101

    # CHANGE: Better support for ROOT
    # NEW: LHCbJob - support for Protocol access tests
    # NEW: DiracLHCb - getSoftwareVersions() method to retrieve the list of software names, versions and supported system configurations
    # NEW: DiracLHCb - Added BK query methods either using arguments to a function or passing a dictionary.  A minimal set of fields is required to prevent overloading of the service.
    Interfaces = if_2010031001

    # NEW: RAWShares plugin to distribute runs atomically (agent)
    # NEW: Consider replication transformations in StatusAgent
    # NEW: Lists in the BK query
    # NEW: Plugins for grouping by file and event type
    ProductionManagementSystem = pm_2010031101

    # BUGFIX: Introduced a sleep to UserJobFinalization to allow replication of recently uploaded files
    Workflow = wo_2010030301

    ResourceStatusSystem = rs_2010020701

    # CHANGE: Disable report if software is installed
    # CHANGE: Use the native platform and not the one defined in CS 
    SAMSystem = sa_2010031201

    WorkloadManagementSystem = wm_2010012001
  }

  v5r1-pre4
  {

    # NEW: Method which returns back the processed events for a given production.
    # NEW: Method which returns all the available condition tags
    # BUGFIX: Cleaning the files from  File dialog window when the user click the close ot X button.
    # CHANGE: Changed the getFilesWithGivenDataSets method I added NbOfEvents flag to return back the number of events for a given dataset.
    # BUGFIX: When you want to save the files in the File dialog window, the I just save the selected files.
    # BUGFIX: I am not exist when the tags exist in the DB.
    BookkeepingSystem = bk_2010031001

    # CHANGE: CE2CSAgent moved to DIRAC package
    ConfigurationSystem = cs_2010030501

    # CHANGE: updated dirac-architecture
    # NEW: Introduced support for protocol access tests
    # NEW: DiracLHCb - added methods to retrieve software versions for ROOT and applications
    Core = co_2010031101

    # BUGFIX: Several
    DataManagementSystem = dm_2010031101

    # CHANGE: Better support for ROOT
    # NEW: LHCbJob - support for Protocol access tests
    # NEW: DiracLHCb - getSoftwareVersions() method to retrieve the list of software names, versions and supported system configurations
    # NEW: DiracLHCb - Added BK query methods either using arguments to a function or passing a dictionary.  A minimal set of fields is required to prevent overloading of the service.
    Interfaces = if_2010031001

    # NEW: RAWShares plugin to distribute runs atomically (agent)
    # NEW: Consider replication transformations in StatusAgent
    # NEW: Lists in the BK query
    # NEW: Plugins for grouping by file and event type
    ProductionManagementSystem = pm_2010031101

    # BUGFIX: Introduced a sleep to UserJobFinalization to allow replication of recently uploaded files
    Workflow = wo_2010030301

    ResourceStatusSystem = rs_2010020701

    # CHANGE: Disable report if software is installed
    SAMSystem = sa_2010022202

    WorkloadManagementSystem = wm_2010012001
  }

  v5r1-pre3
  {

    # NEW: Method which returns back the processed events for a given production.
    # NEW: Method which returns all the available condition tags
    # BUGFIX: Cleaning the files from  File dialog window when the user click the close ot X button.
    # CHANGE: Changed the getFilesWithGivenDataSets method I added NbOfEvents flag to return back the number of events for a given dataset.
    # BUGFIX: When you want to save the files in the File dialog window, the I just save the selected files.
    # BUGFIX: I am not exist when the tags exist in the DB.
    BookkeepingSystem = bk_2010031001

    # CHANGE: CE2CSAgent moved to DIRAC package
    ConfigurationSystem = cs_2010030501

    # CHANGE: updated dirac-architecture
    # NEW: Introduced support for protocol access tests
    # NEW: DiracLHCb - added methods to retrieve software versions for ROOT and applications
    Core = co_2010031001

    # BUGFIX: Several
    DataManagementSystem = dm_2010030101

    # CHANGE: Better support for ROOT
    # NEW: LHCbJob - support for Protocol access tests
    # NEW: DiracLHCb - getSoftwareVersions() method to retrieve the list of software names, versions and supported system configurations
    # NEW: DiracLHCb - Added BK query methods either using arguments to a function or passing a dictionary.  A minimal set of fields is required to prevent overloading of the service.
    Interfaces = if_2010031001

    # NEW: RAWShares plugin to distribute runs atomically (agent)
    # NEW: Consider replication transformations in StatusAgent
    # NEW: Lists in the BK query
    # NEW: Plugins for grouping by file and event type
    ProductionManagementSystem = pm_2010030802

    # BUGFIX: Introduced a sleep to UserJobFinalization to allow replication of recently uploaded files
    Workflow = wo_2010030301

    ResourceStatusSystem = rs_2010020701

    # CHANGE: Disable report if software is installed
    SAMSystem = sa_2010022202

    WorkloadManagementSystem = wm_2010012001
  }

  v5r1-pre2
  {

    # NEW: Method which returns back the processed events for a given production.
    # NEW: Method which returns all the available condition tags
    # BUGFIX: Cleaning the files from  File dialog window when the user click the close ot X button.
    # CHANGE: Changed the getFilesWithGivenDataSets method I added NbOfEvents flag to return back the number of events for a given dataset.
    BookkeepingSystem = bk_2010030101

    # CHANGE: CE2CSAgent moved to DIRAC package
    ConfigurationSystem = cs_2010030501

    # CHANGE: updated dirac-architecture
    # NEW: Introduced support for protocol access tests
    Core = co_2010030501

    # BUGFIX: Several
    DataManagementSystem = dm_2010030101

    # CHANGE: Better support for ROOT
    # NEW: LHCbJob - support for Protocol access tests
    # NEW: DiracLHCb - getSoftwareVersions() method to retrieve the list of software names, versions and supported system configurations
    # NEW: DiracLHCb - Added BK query methods either using arguments to a function or passing a dictionary.  A minimal set of fields is required to prevent overloading of the service.
    Interfaces = if_2010031001

    # NEW: RAWShares plugin to distribute runs atomically (agent)
    # NEW: Consider replication transformations in StatusAgent
    # NEW: Lists in the BK query
    # NEW: Plugins for grouping by file and event type
    ProductionManagementSystem = pm_2010030802

    # BUGFIX: Introduced a sleep to UserJobFinalization to allow replication of recently uploaded files
    Workflow = wo_2010030301

    ResourceStatusSystem = rs_2010020701

    # CHANGE: Disable report if software is installed
    SAMSystem = sa_2010022202

    WorkloadManagementSystem = wm_2010012001
  }

  v5r1-pre1
  {

    # NEW: Method which returns back the processed events for a given production.
    # NEW: Method which returns all the available condition tags
    # BUGFIX: Cleaning the files from  File dialog window when the user click the close ot X button.
    # CHANGE: Changed the getFilesWithGivenDataSets method I added NbOfEvents flag to return back the number of events for a given dataset.
    BookkeepingSystem = bk_2010030101

    # CHANGE: CE2CSAgent moved to DIRAC package
    ConfigurationSystem = cs_2010030501

    # CHANGE: updated dirac-architecture
    # NEW: Introduced support for protocol access tests
    Core = co_2010030501

    # BUGFIX: Several
    DataManagementSystem = dm_2010030101

    # CHANGE: Better support for ROOT
    # NEW: LHCbJob - support for Protocol access tests
    Interfaces = if_2010030501

    # NEW: RAWShares plugin to distribute runs atomically (agent)
    # NEW: Consider replication transformations in StatusAgent
    # NEW: Lists in the BK query
    # NEW: Plugins for grouping by file and event type
    ProductionManagementSystem = pm_2010030802

    # BUGFIX: Introduced a sleep to UserJobFinalization to allow replication of recently uploaded files
    Workflow = wo_2010030301

    ResourceStatusSystem = rs_2010020701

    # CHANGE: Disable report if software is installed
    SAMSystem = sa_2010022202

    WorkloadManagementSystem = wm_2010012001
  }

  v5r0p2
  {

    # CHANGE: Fix in the info serving to the Web Interface
    BookkeepingSystem = bk_2010022201
    ConfigurationSystem = cs_2010021601
    Core = co_2010021701
    DataManagementSystem = dm_2010021601
    Interfaces = if_2010021701
    ProductionManagementSystem = pm_2010021701
    ResourceStatusSystem = rs_2010020701

    # CHANGE: Disable report if software is installed
    SAMSystem = sa_2010022202
    Workflow = wo_2010021901
    WorkloadManagementSystem = wm_2010012001
  }

  v5r0p1
  {
    BookkeepingSystem = bk_2010021602
    ConfigurationSystem = cs_2010021601
    Core = co_2010021701
    DataManagementSystem = dm_2010021601
    Interfaces = if_2010021701
    ProductionManagementSystem = pm_2010021701
    ResourceStatusSystem = rs_2010020701
    SAMSystem = sa_2010021702

    # BUGFIX: UploadLogFile - Fix for failover upload
    # NEW: GaudiApplication - support for single-step stripping
    # CHANGE: GaudiApplicationScript - Move stdout printing in line with GaudiApplication module
    Workflow = wo_2010021901

    WorkloadManagementSystem = wm_2010012001
  }

  # NEW: use LHCbDiracPolicy in cmt/requirements
  # BUGFIX: many typos fixed after the code checker pass (R.Graciani)
  v5r0
  {
    # NEW: The data taking conditions description is generated automaticly.
    # NEW: Added the VeloPosition to the data taking conditions.
    # NEW: Implemented a bookmark functionality for Bkk. The bookmarks are stored in the server site. The web page and the standalone GUI are using the same bookmarks.
    # NEW: Allow more than one file type,event type and production/run when we run striping or reconstruction.
    # NEW: Added the processing pass viewer to the production. The users can see how the production processed: DDB, CONDB, optionfiles, They can easy recreate the jobs.
    # NEW: Implemented a command line method to insert new file types to the Bkk DB.
    # NEW: Created a new table which contains all the tags(condb,ddb). I provide tools to have access to this table.
    # CHANGE: Bkk DB clean: The not used columns in the jobs table are removed.
    # CHANGE: Changed the Physicstat to FullStat in the files table. The EventStat contains the physics event, the FullStat contains all the events.
    # BUGFIX: EventinputStat was not correct counted.
    # BUGFIX: The data taking description was not correctly created. The VeloOPEN wrong should be  VeloOpen. (cosmetics)
    # BUGFIX: The rootPath was not correctly set.
    BookkeepingSystem = bk_2010021602

    # CHANGE: Use rearranged utilities
    ConfigurationSystem = cs_2010021601

    # CHANGE: updated install_xxx.sh scripts
    # CHANGE: CombinedSoftwareInstallation moved long install_project printouts to verbose log level
    # NEW: Added OutputDataPolicy plugin
    # NEW: Updated ProductionData to also handle new user jobs output LFN convention
    Core = co_2010021701
    DataManagementSystem = dm_2010021601

    #NEW: API now has refined error handling as implemented in the DIRAC Job / Dirac base classes
    #NEW: Reworked the LHCbJob object to use UserJobFinalization by default
    #CHANGE: Refined the verbosity of API for Production
    #NEW: Production.py now automatically creates transformations for productions
    Interfaces = if_2010021701

    # CHANGE: Removed generic code to TransformationSystem(s)
    # NEW: Agent for submit/monitor replication transformations
    # BUGFIX: consider all production type agents
    # NEW: LHCbDIRAC TransformationSystem is merged with the ProductionManagementSystem
    ProductionManagementSystem = pm_2010021701

    ResourceStatusSystem = rs_2010020701
    SAMSystem = sa_2010021702

    # NEW: Include tested UserJobFinalization module
    Workflow = wo_2010021701

    WorkloadManagementSystem = wm_2010012001
  }
}
packageExtraFiles = __init__.py, versions.cfg, cmt
fileVersion = $Id $